{% extends "base.html" %}


{% block title %}
    Amir Mohammad | Developer Portfolio
{% endblock %}


{% block content %}

    <!-- Hero -->
    {% include "sections/hero.html" %}


    <!-- About -->
    {% include "sections/about.html" %}


    <!-- Skills -->
    {% include "sections/education.html" %}


    <!-- Skills -->
    {% include "sections/skills.html" %}


    <!-- Projects -->
    {% include "sections/projects.html" %}


    <!-- Experience -->
    {% include "sections/experience.html" %}


    <!-- Contact -->
    {% include "sections/contact.html" %}

{% endblock %}